[2021-11-22 07:00] ankar84 commented on #482
Hey, @yashovardhan
Any news about that?

[2021-11-22 07:03] yashovardhan commented on #482
@dudanogueira @debdutdeb can anyone of you help here? I've not been in touch with the product team recently.

[2021-11-22 10:19] sidmohanty11 commented on #695
Hi, i just opened a PR regarding this. Please let me know if this would be the feature that you folks want or regarding any changes.
Thank you.

[2021-11-25 10:20] Feuermurmel commented on #27
If this is touched, I'd also love to see the original message truncated to e.g. a maximum of two lines. Right now, the message flow is sometimes completely disrupted when long messages are quoted. Please have a look at how [Telegram Messenger](https://telegram.org) is doing this. IMHO they have the best UI for replies, I use it a lot and I never have trouble.

[2021-11-25 10:20] Feuermurmel commented on #688
If this is touched, I'd also love to see the original message truncated to e.g. a maximum of two lines. Right now, the message flow is sometimes completely disrupted when long messages are quoted. Please have a look at how [Telegram Messenger](https://telegram.org) is doing this. IMHO they have the best UI for replies, I use it a lot and I never have trouble.

[2021-11-29 14:57] hnaepflein opened #528 "create task from message"
**Is your feature request related to a problem? Please describe.**
As a chat user, I want to be up to date and read messages as quickly as possible. If I can't answer a question ATM or want to revisit a topic later, I need to mark the channel as unread to have a reminder.

**Describe the solution you'd like**
1. select message --> add task
2. task will be added in personal '#tasks' channel
3. task

[2021-11-30 06:32] otto2704 commented on #220
+1

[2021-11-30 23:05] sandrotanner commented on #243
I agree. A _official_ Tool or Guide would be cool.

[2021-12-01 00:09] sandrotanner commented on #243
I just found this: https://github.com/RocketChat/filestore-migrator :)

[2021-12-01 05:54] ankar84 opened #529 "Client version management"
**Is your feature request related to a problem? Please describe.**
RocketChat need some clients version management. That is for a security purposes mainly, as a simple way to force users to use new version of client application.

**Describe the solution you'd like**
RocketChat administrator should have ability to:
1. Warn users that using specific client version (for example older then x.x)
2. Tot

[2021-12-01 06:18] ankar84 commented on #508
@dudanogueira hey!
Implementation of that feature request no looks so hard work, can you address that to Product Team?

[2021-12-01 19:33] nmckeehan commented on #378
+1
Are there any updates on this feature? I saw another post ([#17490](https://github.com/RocketChat/Rocket.Chat/issues/17490)) that email digests were in the works in June last year.

[2021-12-02 09:54] ata-star commented on #143
since this issue is still open i decide for zulip or other projects supporting a dark mode

[2021-12-04 14:57] psy opened #703 "Header / Footer in plaintext emails"
### Description:

While the header and footer for emails can be customized via settings and is added to the html part of mails it is missing in the plaintext part. If header and footer are only used to style emails, this is mostly irrelevant. But as they may contain relevant information (e.g. a link to an imprint), they should also be added to the plaintext part of mails.

### Steps to reproduce:

[2021-12-04 21:49] sarz4fun commented on #510
This is a killer feature.
Calls shoud work perfect or companies does not move from teams to RC. The funcionalities are comparable but real calls are missing in RC.

[2021-12-06 16:45] dudanogueira commented on #703
marking as a good first issue.

Not sure if this is an issue or a feature request...

[2021-12-07 07:54] Elthas17 opened #530 "Feature request: Search for users and/or messages"
### Description:

This is not an issue but a feature request. I would like to see an easy to find/intuitive search bar where you can search for users to send them a direct message. I did not find this so its not there or it is too hidden in my opinion. This could be expanded upon to also search for content of messages to which the user has access so that he can jump to that message feed.

### Step

[2021-12-07 13:38] avonar commented on #766
any news about swagger/raml/redoc/etc ?

[2021-12-08 16:41] dudanogueira commented on #530
Thanks! Moved this issue to our feature request repo :)

[2021-12-08 17:31] Maneet-k commented on #703
I wanna work on this issue, Could you please assign this to me

[2021-12-08 19:07] Elthas17 opened #531 "Store rocket chat config in separate file"
**Is your feature request related to a problem? Please describe.**
When starting/stopping containers of rocket chat, i need to reconfigure the instance through the UI.

**Describe the solution you'd like**
It it would be more convenient, as with other docker containers, that config is stored by rocket chat ui in a .config file or similar, so that this config file can be mounted within a volume. th

[2021-12-08 19:11] Elthas17 opened #532 "Able to customize manual approval of user mail"
**Is your feature request related to a problem? Please describe.**
The default mail of a manual approval of a user is 1. in english and 2. does not contain a url to the place where the rocket chat instance lives. This is not user friendly considering the time between registration of the user and activation of the user, since rocket chat is new to the user they did not store or bookmark the url of

[2021-12-09 12:30] Maneet-k commented on #703
Hello! @dudanogueira
I just tried to make the html email as according to the discussion above.
could you please tell me, this is the result you were expecting or I need to modify something in this?

[2021-12-09 13:06] psy commented on #703
I think there's a missunderstanding. The issue is not about changing the html part of emails, it's about adding header and footer to the plaintext part.

[2021-12-09 16:24] Maneet-k commented on #703
Rocket.chat

**Welcome to Rocket.Chat
------------------------------------------------------------

Visit https://open.rocket.chat and try the best open source chat solution available today!
Login (https://open.rocket.chat)
Blog (https://rocket.chat/blog) | Github (https://github.com/RocketChat) | Facebook (https://www.facebook.com/RocketChatApp) | Instagram (https://www.instagram.com/rocket.chat)

[2021-12-09 16:24] Maneet-k commented on #703
@psy What things I need to change in this ?

[2021-12-09 17:42] psy commented on #703
It's not about changing the footer provided, it's about adding at least the footer to plaintext emails so that the information provided in there also shows up if only plaintext mails are sent or the user reads mails in plaintext view.

I don't feel experienced enough to guide a first-timer on how to change rocketchats sourcecode, maybe @dudanogueira is able to help you with this.

[2021-12-09 22:56] Zianor commented on #703
https://github.com/RocketChat/Rocket.Chat/blob/develop/app/mailer/server/api.ts

A mail should always contain the content as html and plain text.

In this file, the text is generated from the html of the email here: `text = html ? stripHtml(html).result : undefined;`. But the header and footer are not contained there yet, they are added directly to the body.  The plain text should contain header,

[2021-12-12 03:49] bmkor opened #533 "Push feature supporting Huawei Mobile Service (HMS)"
**Is your feature request related to a problem? Please describe.**
We found that Huawei mobile phones using Huawei Mobile Service (HMS) which installed RocketChat Android app are unable to receive all push notifications from our self hosted RocketChat servers; whereas Android mobile phones using Google Mobile Services (GMS) are not having this issue.

Would like to request feature supporting HMS.

[2021-12-12 06:54] debdutdeb commented on #533
@diegolmello any thoughts here? Don't know much about PNs to comment.

[2021-12-12 10:09] Zianor commented on #703
I'm afraid you still don't quite get it right. At this point it is easier to get a working solution myself. You'll see the working solution then linked in the issue and maybe it helps you in the future :)

[2021-12-15 08:31] timoaudi commented on #780
Any update on this? As a user, I would love to have the option to manually remove links per message.

[2021-12-16 08:35] GeneralChauhan commented on #703
Hi there!
Can anybody help me get started with this issue?
I'm new to the whole community and wanted to start with Rocket Chat

[2021-12-17 21:10] MHFDoge opened #534 "Desktop Notification sound settings"
**Is your feature request related to a problem? Please describe.**
I'm not sure why or when this change was made but at some point, the behavior of notifications has changed, I want to be able to have desktop notifications appear for all messages, but not have to hear a notification noise accompanying every single one of those messages, instead just for select messages(keywords, mentions, etc, the

[2021-12-18 01:03] MHFDoge commented on #534
Nevermind, it was a workspace issue, this is a present feature. sorry

[2021-12-18 01:03] #534 closed, assigned to nobody

[2021-12-18 07:41] audouts commented on #797
I have an annoying "pinned" announcement that is left over from a deleted message. Is there a way to delete it, too?

I understand that pin/unpin announcements are part of channel history but they should not persist for deleted messages.

I also agree that it would be better to make them optional.

[2021-12-19 10:56] try-catch-stack opened #535 "Extended message Actions menu when shift key is pressed while hovering"
**Is your feature request related to a problem? Please describe.**
After using RocketChat for a while , I feel that it would be really great to have this feature of showing a extended messageActions menu with delete,copy and few more buttons when a particular key like the shift key is pressed while hovering over a message.
It'll make deleting,copying and other similar actions really convenient as

[2021-12-22 18:45] serviceman opened #536 "Should be able to mass delete rooms based on user that created them."
**Is your feature request related to a problem? Please describe.**
I recently had an issue with a user creating 1,500 rooms as a spam attack. There was no way to remove them at the same time as removing the user. If I removed the user, the rooms would be assigned a new owner and not be deleted. There should be a way to delete rooms of a user, if they are the owner, when deleting a user.

**Describ

[2021-12-22 20:20] try-catch-stack commented on #535
@dudanogueira I would love to work on this if you think it would be a nice and useful feature. I think we can use meteor event map in message.js to detect shift press and show an extended menu. What do you think?

[2021-12-23 15:54] rsgodinez commented on #34
I'm interested in this feature.

[2021-12-24 11:37] dudanogueira commented on #535
hi @try-catch-stack !!

Thanks! That's a nice feature indeed!!

I am asking dev and product teams about feedback on this one.

The Apps Engine can provide some contextual actions, it would be nice to have them on this hover too.

[2021-12-24 12:47] try-catch-stack commented on #535
Sure @dudanogueira .

I was looking to contribute to Rocket.Chat from a long time and this seems just right to start my journey with Rocket.Chat.
I would definitely like to work on implementing this feature with your help.Also the idea of contextual actions sounds really nice too.
Looking forward to feedback of other team members and then will start working on it.

[2021-12-25 05:01] fumin commented on #143
This implement looks great, please ship it AT ONCE!!!!!

[2021-12-27 08:50] smallfish01 opened #854 "Simplify user invitation process"
### Description:

I have a requirement about invite a new user to a public channel. The currently process is complicated , I need users who are invited do not need register a new account and do not need join the general channel first, the user just need open the invite URL and type his name then join the channel.

### Steps to reproduce:

1. I need invite my customer to join a public channel, the

[2021-12-28 04:11] camperjett commented on #813
Hi, what is the status of this issue? If it is inactive, maybe I can work on it.

[2021-12-28 21:26] 2old4it opened #537 "Force users to use 2FA through TOTP (or email)"
**Is your feature request related to a problem? Please describe.**
To maximize the security in our self hosted instance of rocketchat we would like to force the use of 2FA.
As an admin I have the 'power' to create an user but it is the user that can choose to activate 2FA using TOTP.
We would like to force that option.
The password policy can be set with a lot of options, that is probably done bec

[2021-12-30 10:34] marek-ciazynski commented on #689
+1

[2022-01-02 20:28] rtest12 commented on #359
Fiercely support

[2022-01-03 07:56] Manik-Aggarwal commented on #703
I want to work on this issue, please assigned it to me

[2022-01-03 13:38] siddjellali commented on #378
+1

[2022-01-03 13:45] Magx87 opened #538 "Deletar chat."
I need to delete a conversation, how do I do this?

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any altern

[2022-01-03 15:56] webenceio opened #539 "Send Later Action for messages"
**Is your feature request related to a problem? Please describe.**
Not related to a current problem. This is a new feature

**Describe the solution you'd like**
Would like to be able to have the option to pick a day and time to send a message in a channel or a direct message.

**Describe alternatives you've considered**
I am unaware of any current alternatives within the rocket chat platform

**Ad

[2022-01-04 15:13] 2old4it commented on #537
For me this feature request wouldn't be necessary if issue #24101 is resolved.

[2022-01-06 20:16] Magx87 commented on #538
Algum retorno??

[2022-01-09 22:16] ghost commented on #143
Any updates on this?

[2022-01-09 22:19] ghost commented on #502
They should loop endlessly by default. I'm all for an option to disable this, though.

[2022-01-11 20:36] Calamarz opened #540 "Disable TOTP for specific user or for all user"
Hello everyone

Thank you for this great solution that I have been using for 3 years, I did the migration test from my current version 1.1.0 to 1.4.0 this last works well however I wish to be able to deactivate the TOTP on some users or all if that is simpler, do you have a solution?

Thanks for your help

[2022-01-11 20:37] #540 closed, assigned to nobody

[2022-01-11 20:54] milton-rucks commented on #566
Hi @golebiewsky we will consider developing this improvement for the current quarter

[2022-01-12 00:51] jeanfbrito commented on #644
Please test if the latest release did solve this. If not please reopen the issue or create a new one and tell us. I will be closing this one for now.

Thank you!

[2022-01-12 07:40] ipikiiskinen opened #541 "Move "Users in role" feature out from Permissions to its own settings menu feature"
**Is your feature request related to a problem? Please describe.**

Any user that has "Access Permissions Screen", "Add User to Any Public Channel" and "Add User to Any Private Channel" should be able to add a user with specific role to any channel with the following operations (using Owner role as an example):

1. Go to admin -> Permissions
2. Edit the "Owner" role
3. Select "Users in role" butto

[2022-01-12 07:51] xmedeko commented on #644
@jeanfbrito no, even with 3.7.5 I do not see any in place message editing. Maybe this FR belong to https://github.com/RocketChat/Rocket.Chat repository?

Note: I cannot reopen the issue since I am not a collaborator.

[2022-01-12 10:30] dudanogueira commented on #535
Hi! It's ok to write a PR for that feature.

I think that with an initial PR our dev and product team can analyze and merge it really soon.

Thanks a lot for the other PRs already :)

[2022-01-12 12:19] jeanfbrito commented on #644
Oh sorry, I misunderstood the issue. Yes, a FR on the Rocket.Chat repo would be interesting because this is a chat feature directly.
I will move this to there.

[2022-01-12 13:02] himanshu-malviya15 opened #702 "Feature Request: Support for reset button in Integration"
### Description:

Support for reset button in Integration -> outgoing is needed, it has only save button
Need of reset button next to save button

### Steps to reproduce:

1. Go to the Administration panel
2. Click on Integrations
3. Create an Outgoing integration

### Expected behavior:
<img width="950" alt="Reset" src="https://user-images.githubusercontent.com/76220055/149144769-93e5ecbf-3dcd-4a

[2022-01-12 14:01] try-catch-stack commented on #535
Hey!
I have put an initial PR and would love to hear your feedback and suggestions to improve it further.
Thank you

And it is my pleasure to contribute to such a great product used by people all around the globe :)
Looking forward to add even more value to the community .

[2022-01-14 10:27] aswiniip commented on #702
Check RocketChat/Rocket.Chat#24110. It solves this issue.

[2022-01-17 15:46] ankar84 commented on #539
Nice to have such delayed messages feature

[2022-01-18 16:28] Jaiharishan commented on #747
Hi, I would like to work on this issue

[2022-01-25 16:23] Gintasz opened #542 "On mobile & web apps, make a setting that would display workspace split into 2 tabs, one "Workspace" other "Direct Messages""
**Is your feature request related to a problem? Please describe.**
Currently, in the mobile app, all of the channels list & direct messages list are on a single screen. Channels are displayed on the top and direct messages below them. This becomes uncomfortable when in a workspace you need e.g. 25 channels and you also want to DM individual people. It also makes it hard to notice new DMs, because

[2022-01-26 12:09] Gintasz opened #543 "Allow >1 default channel"
**Is your feature request related to a problem? Please describe.**
I have 25 public channels that I need to be visible to the user since the first time he opens my chat server. I have enabled allow anonymous read, however, when anonymous acc opens the chat server, he only sees the channel which has the “default” option enabled in the left sidebar. If the anonymous user clicks the search icon, then

[2022-01-31 13:07] sandreddu opened #544 "Prevent users from leaving a single public or private channel"
### Description:

Add possibility for Administrators to prevent users from leaving a single channel.
In our organization we would like to set up a channel for all users to autojoin (like the #general channel) in order to send out internal IT relevant announcements. We would also like to restrict people from leaving this channel, and leave only the admins this possibility.
As far as I can see, I ca

[2022-01-31 21:13] aakash-gitdev commented on #637
I think this issue still persists. The list in the channel section should be made collapsible. Are there any updates regarding this?

[2022-02-01 17:46] dudanogueira commented on #544
Hi! Will move this to our feature request.

Your idea is to also be able to configure this on a per-basis channel, right?

[2022-02-02 07:02] sandreddu commented on #544
Hi! Thanks, I'm sorry I have opened the issue in the wrong project
That's correct, the idea is to have configured per-channel

[2022-02-03 16:24] binarydad opened #545 "Improving read indicators in group chats"
**Describe the solution you'd like**
I feel read indicators are lacking in group chats. The only way to see who read a message is by clicking on the 3 dots and scrolling down to "info". At a minimum, I think instead of an all (the "check") or nothing (no "check") indicator, it would be nice to at least have a partial indicator, somehow, to show that SOME users have read the message.

Also, it woul

[2022-02-06 07:37] #183 closed, assigned to nobody

[2022-02-06 13:48] Jaiharishan opened #808 "[IMPROVE]: Have a default regex search for messages"
### Description:
  For searching for messages in a team or channel or direct message, the user must give a regex query by themselves. Instead, we can have a default regex searching and custom regex searching if the user needs to.

### Steps to reproduce:

1. Go to any team or channel or direct message.
2. Click on the search option on the top right of the screen.
3. Give your search queries.

###

[2022-02-08 13:32] Ayush01729 commented on #808
@Jaiharishan , Actually the admin can edit the settings to "Always use Regex". So, you don't need to always use a regex, it will be done automatically if the admin wishes to.

[2022-02-10 03:22] Jaiharishan commented on #808
Thanks for mentioning it @Ayush01729 .If there is an option like that then by default it should be enabled.

[2022-02-10 04:05] Ayush01729 commented on #808
Yes, @Jaiharishan , I am working on it.

[2022-02-10 07:30] Manan17 commented on #703
Hi, can I work on this issue?

[2022-02-11 07:25] fdellwing commented on #808
The reason it is not enabled by default is, because regex is slow and CPU intensive. Furthermore: Mongo should use FTS under the hood, so there should be no need for regex.

[2022-02-11 12:45] ankit-jha1210 commented on #703
@psy  can I work on this I am interested to work on this

[2022-02-15 07:44] Jaiharishan commented on #808
Oh, ok, I got it. Thank you for letting me know about this.

[2022-02-16 04:21] Rajdip019 commented on #759
Hey, Can you assign me on this one?

[2022-02-16 08:13] krenuser opened #546 "Move message into thread"
**Is your feature request related to a problem? Please describe.**
A lot of users doesn't really remember to use threads instead of just quoting messages (that is the only way for other messengers).
For now when I want to organize and moderate chat (having admin access to server) connect to MongoDB and manually move messages to threads they in fact belong to.
To be precise, I add `tcount` and time

[2022-02-16 10:38] pierreozoux commented on #459
@johncrisp do you have news on that?

I analysed my mail logs today on my server, because I saw some spams.

And we have newsletters, personal emails, and transactional emails like from discourse and Nextcloud.
The only messages marked as spam are from RocketChat.

I'll try to change the footer on some of the biggest sender instances, and see how it goes, but I'm quiet sure it will be better.

[2022-02-17 14:18] himpierre opened #701 "[Feature Request] mentioning a team as a non member of the team"
Hello fellow developers.

Currently, only team members can mention teams. Unless it is a public team. But it would be very nice if also non-members could mention private teams. Here's the scenario. There is a security team that needs to be mentioned in a public channel about a security issue. A simple @security-team should be sufficiant to alert all security staff to this issue. Can we please have

[2022-02-18 12:49] Sayan-dev commented on #701
If this feature is approved, I would like to work on this

[2022-02-25 18:33] Kunalvrm555 opened #700 "[Feature Request] Emoji picker for custom status"
### Description:

While updating the custom status, we can add emoji by using the custom keywords which is rendered as well but there is no emoji picker which can be used to insert a suitable emoji.
### Steps to reproduce:

1. At the homepage, click on the user profile to get the dropdown menu.
2. Click on 'Custom Status'.
3. Add an emoji (with optional text) by using custom keywords of the form *

[2022-02-25 19:10] dudanogueira commented on #700
That's indeed a great little improvement!! THanks!!

[2022-02-27 20:38] lucthesloth opened #547 "Boards"
Since the app is focused on small companies and the like, a channel type for "Boards" exactly like Trello would be amazing.

[2022-02-28 04:20] debdutdeb commented on #547
How about a Rocket.Chat app to implement this?

[2022-02-28 05:19] aadarshkt commented on #700
Hello @dudanogueira I am a new contributor to this project. My research so far is written below.

I navigated to code for the input text field. File name -> EditStatusModal.tsx

![TextInput](https://user-images.githubusercontent.com/72285744/155927534-278bccb5-18b0-44a7-ac3c-4643753224e4.PNG)

The import was ->

![Fuselage Import](https://user-images.githubusercontent.com/72285744/155927804-be7d7e

[2022-03-01 09:05] rasos commented on #784
It would be great to be able to send announcements to selected groups or teams with the option to send this also as a push notification.

[2022-03-01 10:50] moell9 opened #699 "Video Call - show "Ongoing Call""
When I’m in a video call in Jitsi Meet in Teams, Channels or Direct Messages, I want to see who I’m connected to.
Since I'm a member of many teams and channels and there are also many direct messages, it is easy to lose track.

In Skype for example it is called "Ongoing Call".

[2022-03-01 12:18] moell9 opened #698 "Video Call - show "Ongoing Call""
When I’m in a video call in Jitsi Meet in Teams, Channels or Direct Messages, I want to see who I’m connected to.
Since I'm a member of many teams and channels and there are also many direct messages, it is easy to lose track.

In Skype for example it is called "Ongoing Call".

[2022-03-01 13:50] fdellwing commented on #698
Move to https://github.com/RocketChat/feature-requests?

[2022-03-01 15:48] jeanfbrito commented on #699
I think this is more a feature request, right? I will move it to the Rocket.chat repository.

[2022-03-02 04:40] lucthesloth commented on #547
I didn't know if Apps were able to do such a thing, didn't dig through the documentation and from what I saw in the marketplace the apps are all using chat integration only ¯\_(ツ)_/¯ I guess since you are saying it then it must be possbile

[2022-03-02 04:40] #547 closed, assigned to nobody

[2022-03-02 05:07] ankar84 commented on #757
Related to https://github.com/RocketChat/feature-requests/issues/757
Sorting by roles could be perfect solution for finding owner problem.
@engelgabriel @marceloschmidt @geekgonecrazy @ggazzo what do you think, guys?

[2022-03-02 13:15] MrVonkey commented on #27
Would it be possible to temporarily add an additional CSS class to the attachment component for quotes until the message component is refactored? This would allow admins to place quotes above the messages with custom CSS, e.g. flex-direction:

[code]

Not optimal, but still an improvement for readability in my opinion.

[2022-03-02 13:15] MrVonkey commented on #688
Would it be possible to temporarily add an additional CSS class to the message component for quotes until the message component is refactored? This would allow admins to place quotes above the messages with custom CSS, e.g. with flex, and would allow excluding file attachments from the custom CSS. At the moment we are using the following custom CSS, which messes up the display position of the user

[2022-03-02 16:03] himanshu-malviya15 opened #875 "Needed reset button in Permissions new role"
### Description:
There should be a reset button near save button in new role permissions

### Steps to reproduce:

1. Go to Admin
2. Go to Permissions
3. Click on new role

### Expected behavior:

https://user-images.githubusercontent.com/76220055/156399409-db75db3a-fcbc-4e8a-9aa9-51de44b0bdab.mp4

### Actual behavior:

![Screenshot from 2022-03-02 18-22-54](https://user-images.githubusercontent.c

[2022-03-02 17:56] marcjoancr commented on #22
Any updates on that?

[2022-03-03 06:01] exec228 commented on #415
`7) 8) 9) to 7) 😎 9) ?`
You are kidding.
Some of templates of Rocket Chat are really annoying.

[2022-03-03 08:18] dayala1 opened #548 "Format block quotes only when a whitespace is included after ">""
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I try to use > at the beginning of a sentence but the text is always formatted as a text quote. Usually (in similar chat apps), this behavior only takes place when "> " is used (with a white space) rather than always.

**Describe the solution you'd like**
Text quotes are only created when a line starts wi

[2022-03-03 10:49] moell9 commented on #698
Yes, FR is okay. Thanks. You can move it.

[2022-03-10 07:51] ritikBhandari commented on #700
Hi!
Is this issue open? I'd like to work on this.

[2022-03-12 08:12] its-kunal commented on #700
let me work in this issue

[2022-03-13 13:56] ritikBhandari commented on #702
Hi,
Is this issue still open? If open I'd like to resolve the it.

[2022-03-16 08:55] didacroyo opened #549 "Livechat Room Move To Queue (new API endpoint)"
Omnichannel conversations are taken by agents. It happens that some conversations are left open and never closed. Ideally all agents should return those to the queue again (before leaving for the day, etc) but that is not always the case.

We'd like a new API endpoint (similar to "Livechat Room Close" or "Livechat Room Trasfer") to be able to move the conversation to the queue.

Alternatively thes

[2022-03-16 15:04] Dok11 commented on #648
Any news about this feature?

[2022-03-17 08:48] vesperk commented on #637
+1

[2022-03-17 10:52] Meibisu commented on #637
+1

[2022-03-18 14:08] vinogradovia commented on #701
I like the idea, I vote for

[2022-03-20 21:20] alexey-mik commented on #648
Fresh custom css that is working
[code]

[2022-03-20 21:25] Dok11 commented on #648
It's also hide messages in the thread, so maybe this styles will be more correct:
[code]

[2022-03-20 21:27] alexey-mik commented on #648
Right, thank you. Just corrected my message

[2022-03-21 13:35] talss89 commented on #689
This is, IMO, a key feature. Could we have an indication of where this sits in the development roadmap?

[2022-03-22 09:10] vinogradovia commented on #634
Any news ?

[2022-03-22 09:18] fdellwing commented on #634
https://github.com/RocketChat/Rocket.Chat/pull/16311#issuecomment-825389926 ff

We are now switching to teams. They at least are not putting essential features behind a paywall. Without the option to buy it separately.

[2022-03-22 09:24] vinogradovia commented on #634
thx,  strange that I did not find this functionality in the price (licence comparison)

[2022-03-22 09:31] fdellwing commented on #634
https://docs.rocket.chat/guides/user-guides/rooms/teams/teams-enterprise-edition

It's not even included in the middle price option, only in the highest price that they do not even communicate openly.

[2022-03-22 17:49] ChrisJBurns commented on #778
Is there a way to completely automate the setup-wizard? The manual task is a bit annoying. We install via Helm so would be great if we could get all of the setup-wizard stuff sorted before we even go to the applicaiton.

[2022-03-23 04:13] vparv opened #550 "Pin user to top of direct messages"
I frequently use direct messages and find that my list of users in my DMs gets filled quickly. I'm always frustrated when my boss' name gets lost in my DMs. I am often messaging people frequently throughout the day and have to scroll down to find my boss' name and click on it to chat with him. This is not ideal as I know I will message him every day, rather than the other people occasionally.

I w

[2022-03-23 05:37] #550 closed, assigned to nobody

[2022-03-24 12:25] ankar84 opened #551 "Broadcast list feature"
**Is your feature request related to a problem? Please describe.**
User need to send exact same message to a list of contacts and chats. And that procedure could be repeated from time to time.

**Describe the solution you'd like**
With the broadcast list feature, user can send a message to several of his contacts at once.
Broadcast lists are saved lists of message recipients that user can repeated

[2022-03-24 16:20] Yuq-Bian commented on #875
Sorry. Just realize there's already an open PR for this issue. Will close mine.

[2022-03-24 18:54] wokawoka commented on #378
+1

[2022-03-24 19:07] wokawoka commented on #787
Rocket chat is working well and here we like it, but we are a small community and thousands and thousands of e-mails are sent each month just because of this specific issue.
Our group have to pay for the e-mails and the users are getting their e-mail box clogged by hundreds of single messages.

We haven´t found a way to solve this problem ourselves.
Is this issue still being considered? Is there m

[2022-03-25 20:08] Kyogre commented on #900
If somebody doesn't know how to enable global search: open administration settings -> Search -> Default provider -> enable "Global search" option ([official guide](https://docs.rocket.chat/guides/administration/settings/search)).

[2022-03-26 11:08] Kyogre commented on #714
discussing here: https://github.com/RocketChat/feature-requests/issues/780

[2022-03-26 12:37] murtaza98 commented on #14
Hello All :wave: I'm quite excited to share my new Reminder app over here. I've attempted to add most of the features requested in this issue and I think you guys will like it :smile: . Check out [this doc](https://add-reminders.gitbook.io/docs/) for more info about this app.

Also, feel free to reach out to me on any below-mentioned channels if you wish to share any feedback or suggestions or eve

[2022-03-26 12:54] murtaza98 commented on #14
Sharing more about [this app](https://add-reminders.gitbook.io/docs/): it allows you to create personal reminders, reminders for specific channels or users. It also has an option to create reminders for a specific message (@slyk comment [here](https://github.com/RocketChat/feature-requests/issues/14#issuecomment-421095676) was very insightful and you'd find that this app is designed in a way that

[2022-03-28 07:48] FractalizeR commented on #803
Any activity here? For me it's a must-have for Slack replacement.

[2022-03-28 11:22] michelsp opened #552 "Image Editor"
Hello,

A Telegram excelent resource is edit an image at upload moment. We can add a text for explain something at image.
Could this resource be added at Rocket?

Below a simple example
![image](https://user-images.githubusercontent.com/5161978/160387634-50446b26-3655-45fd-b31c-e275b4390e2d.png)

[2022-03-29 07:29] mmittermayer opened #553 "Different time intervals with message/file retention policy"
Hello.

Currently it is not possible to define more than one interval for automatic chat/file deletion.
So right now, I can only configure an interval and select "delete only files".
I can't configure it, that for example it deletes all messages after 7years and all files after 7days.

It'd be very nice, if you could implement such a little feature.

Thanks.

[2022-03-29 15:57] saschafoerster commented on #14
@murtaza98 I find it very useful. Could you explain a bit more, what kind of data are transferred by installing this app. I saw there are logs transferred, but what else?

[2022-03-30 07:36] Erikmitk opened #697 "[Feature Request] Auto complete or Emoji picker for setting a custom status message"
It is possible to set a custom status message and it even supports emojis in it.

But entering them can be tedious. There are ways to enter “regular” emojis via a platforms input methods but there's no way for custom emojis. For entering them you have to manually enter their shortcut/alias and try it out. There's no preview or feature to verify the message prior to setting it.

![image](https://us

[2022-03-30 18:05] dudanogueira commented on #697
Hi Erik!

[Kunalvrm555](https://github.com/Kunalvrm555) just sent this PR the other day :)
https://github.com/RocketChat/Rocket.Chat/pull/24967

[2022-03-31 08:30] Erikmitk commented on #697
Woah! Yesssss! All power to @Kunalvrm555! The PR would close this issue. :)

[2022-03-31 14:25] Kunalvrm555 opened #728 "[Request] Emoji picker for file description field"
### Description:

While writing a file description for an uploaded file, we can add emoji by using the custom keywords which is rendered as well but there is no emoji picker which can be used to insert a suitable emoji.
### Steps to reproduce:

1. Upload a file from your computer or paste one from your clipboard.
2. Go to **File description** text field and edit it.
3. Add an emoji (with optional

[2022-04-02 14:55] mrwee opened #727 "Feature Request: Increase limit of attached picture for the iOS app"
In the iOS app version 4.26.1.30850 I can only attach 5 pictures from the photo library. This isn't much and requires users to post several entries when they wish to upload many pictures. It would be very useful if this was increased to e.g. 20, or was a server setting.
Tested on iOS 15.4.1 using a iPhone 13 Pro Max.

[2022-04-02 19:30] Kyogre commented on #900
but global search `has:star` is nearly useless for now due to
https://github.com/RocketChat/Rocket.Chat/issues/20574
https://github.com/RocketChat/Rocket.Chat/issues/25032

[2022-04-05 07:51] Meibisu commented on #451
This feature would be perfect for organisations. We need it so much.

[2022-04-05 10:29] ankar84 commented on #440
I'm wrong here about push notifications - they don't stop working.
@diegolmello Diego, for consistency, maybe it's good to disable push notifications if user status is Busy? Desktop notifications are muted in that case.

[2022-04-05 10:41] ankar84 commented on #552
Totally agree that mobile app need that feature.
@diegolmello for your information.

And also want to mention that there is similar feature request for Electron App https://github.com/RocketChat/Rocket.Chat.Electron/issues/1487

[2022-04-05 10:43] ankar84 commented on #546
Interesting! Nice to have such ability!

[2022-04-05 13:36] Symadmin opened #554 "Minimizing images is not permanent"
**Is your feature request related to a problem? Please describe.**
When sending images or for example GIFs via giphy, there is a possibility to minimize them, so the image preview won't be shown and doesn't take up much space in the chat. However, this is only temporarily, and as soon as you switch to another chat and then back ALL image previews in the chat are shown again.
This produces an incre

[2022-04-06 16:01] abruening-iwt commented on #331
I just ran into the same problem

[2022-04-06 19:22] kotwani2883 opened #555 "New Feature Request: Support the option of sending the required Message any time according to users Wish"
### Description
This feature is requested for the comfort of the User ie he/she can schedule the delivery that is save the msg as a draft and set the custom time for the delivery of the message to the recipient.The Design could be implemented along the send button in the Rocket.Chat web or mobile App.

![Screenshot 2022-04-07 005009](https://user-images.githubusercontent.com/56580582/162052272-f01

[2022-04-06 21:37] dudanogueira commented on #555
Hi!

Maybe this could be implemented as an App? This is indeed a nice feature.
A great app would be one that could do not only do scheduled of messages, but also remind of chosen ones, like this other feature request suggestion:
https://github.com/RocketChat/feature-requests/issues/14

There is an app, called out of office by Bradley (https://github.com/graywolf336/RocketChatApps/) that implements

[2022-04-07 05:40] ankar84 commented on #295
Actually this request is implemented in recent versions of Rocket.Chat
Admin can assign roles that will assign to new users.

[2022-04-07 05:40] #295 closed, assigned to nobody

[2022-04-07 06:17] ankar84 commented on #466
Fixed in version 4.0 I guess

[2022-04-07 06:17] #466 closed, assigned to nobody

[2022-04-07 19:55] adestis-ds commented on #637
A MUST HAVE Feature! @samdup wrote already a year ago that competitors DO HAVE this feature but no activity here...

[2022-04-07 20:12] adestis-ds commented on #637
I vote for including this into the mid-term milestone!

[2022-04-08 17:13] geekgonecrazy commented on #784
We have the mechanism to show these we just don't have a way for a user to do this directly.

[2022-04-09 17:57] Kyogre commented on #105
very good feature. And Slack already has it by the way. We want that feature to be configurable not only globally, but per channel too, so the user can select to follow every thread automatically (and not only if user belong to it) or not to follow other people's threads.

Feature is discussed [here](https://forums.rocket.chat/t/following-threads-follow-every-thread-by-default-and-not-only-if-you-

[2022-04-09 18:25] Kyogre opened #556 "add star/unstar, quick emojis, jump to message and more quick actions buttons to the message panel"
**Is your feature request related to a problem? Please describe.**
Would be great to add more quick actions to the message panel, like in Slack:
1. star action for messages in channels and threads
2. unstar action for starred messages
3. some 3-5 slots for pre-defined emojis
4. "jump to message" button

**Describe the solution you'd like**
see additional context for screenshots from Slack

**Descr

[2022-04-12 17:53] mazurandy commented on #539
Super useful and necessary. Completely support such request

[2022-04-13 01:09] ankar84 commented on #539
Guess open.rocket.chat have that feature as application.
Can you clarify that @geekgonecrazy ?

[2022-04-13 01:19] geekgonecrazy commented on #539
We have an app created by team member.  Not sure plans to list it.  Still checking into this

[2022-04-13 01:25] ankar84 commented on #539
Hope it will be public.

[2022-04-13 10:14] #399 closed, assigned to nobody

[2022-04-13 17:00] ArtemT commented on #637
@clevertree, have you ever heard of [Hanlon's razor](https://en.wikipedia.org/wiki/Hanlon%27s_razor)?

[2022-04-13 21:09] aakash-gitdev opened #561 "[FEATURE REQUEST] Drag and drop feature should be added to the channels in side navigation bar"
**Description:**

As of now, users cannot drag and drop channels according to their convenience.

**Steps to reproduce:**

1) Open rocket.chat
2) Select any channel and try to drag and drop it.

**Expected Behaviour:**

Users should be able to drag and drop the channels and keep them in any order according to their convenience.

**Actual Behaviour:**

Users are not able to drag and drop the channe

[2022-04-13 21:11] aakash-gitdev commented on #561
Adding this feature will improve the user experience (UX).

[2022-04-14 04:32] ankar84 commented on #508
Custom solution is developed in form of Rocket.Chat application by @BenderskiyMA here https://github.com/BenderskiyMA/chat-info

It register slash command `/info` to get private chat information like creator, owners, moderators

[2022-04-14 04:45] aakash-gitdev commented on #561
@dudanogueira can you please let me know which part of the codebase should I look into if I want to add the above feature. I would like to resolve this issue but I am stuck about where to start like where is the relevant code wherein I can make changes.

Thanks

[2022-04-14 09:45] MrPoint1400 opened #560 "theme for rocket chat (dark mode/light mode)"
use this [dark mode](https://github.com/pbaity/rocketchat-dark-mode) and improve it.

[2022-04-14 09:47] MrPoint1400 opened #557 "chat background"
user or admin can not set chat background.

[2022-04-14 10:05] ankar84 commented on #557
Guess it's a feature request, bot a bug report.

[2022-04-14 17:21] aleadco opened #558 "[Add ] Threaded conversations in read-only channels"
Create option in read-only channels so that users can reply in thread if the owner wishes.

Currently a read-only channel does not allow users to reply to messages posted by the owner.

This feature would also be useful on a broadcast channel.

[2022-04-17 10:03] ata-star commented on #143
April 2022, still no dark mode???

[2022-04-19 06:26] aakash-gitdev opened #559 "[FEATURE REQUEST] Channel Icon size is too large in the team's information section"
**Description:**

When we go to the Team's information section the icon size of the channel is two large relative to the box-sized page that opens up. I have designed a possible view of the same box.

**Steps to reproduce:**

1) Open Rocket.Chat
2) Go  to any channel
3) On the top right corner click on the Team's info button

**Expected behaviour:**

The size of group icon relative to the info box

[2022-04-19 06:28] aakash-gitdev commented on #559
@debdutdeb Kindly give some feedback with respect to my proposed design. In my opinion this change will surely enhance the UX (user experience)

[2022-04-19 06:33] aakash-gitdev commented on #559
As of now this is just an informal design proposal from my side, in case you approve it I can work on it further

Thanks

[2022-04-19 09:10] ItDoBeNord commented on #143
Unfortunately.

[2022-04-20 12:29] dudanogueira commented on #559
hi @aakash-gitdev !

I can agree it is too large, but only reducing it a little bit would be ideal. Not sure that floating the icon to the left is better than the actual layout.

Moving this to the feature request repo.

[2022-04-20 12:39] dudanogueira commented on #560
Hi! Please check this [related Issue](https://github.com/pbaity/rocketchat-dark-mode/issues/27)

I'll ask internally about how we are on this front and move this to our feature request repo.

[2022-04-21 17:28] aakash-gitdev commented on #747
I have added the None field for sound. Someone please do the PR review.

[2022-04-21 17:30] aakash-gitdev commented on #747
@marceloschmidt Can you please give some feedback on my changes in code, so that if there are some errors I can rectify it?

[2022-04-26 17:37] himpierre opened #562 "[Feature Request] More prominent video call icon / button"
Hi Devs.

Can we please have a more prominent video call icon / button? The telephone reciever icon beside the search icon does not seem to reflect the actual function anymore.

cheers, t.

[2022-04-29 01:39] brasofilo commented on #201
I'm looking to import messages from Telegram channels and this feature is sorely missed.

I'm preparing a CSV as per https://docs.rocket.chat/guides/administration/admin-panel/import/csv

Right now, the import file should look like this:

It'd be great if we could add an extra column to the CSV with the image(s) URL(s):
[code]

[2022-04-30 21:53] thankstipscom commented on #555
+1 for this. Message scheduling is pretty important nowadays. Slack and gmail have it and ive had it in my SMS app (Chomp) for like 15 years. It should be a basic feature in all chat programs at this point I think.

[2022-04-30 21:57] thankstipscom opened #563 "[FEATURE REQUEST] Local "gif" repo accessible by users using a custom /gif <tag> command to post gifs in chats"
**Describe the solution you'd like**
An admin area where one can specify a directory or upload gifs and add tags to them that all members of the chat instance can access with a /gif <tag> <tag> to post  gifs in chats. Similar to /giphy add on but these would be pre-approved and local to this chat server

**Describe alternatives you've considered**
/giphy which works but the search is flawed as it

[2022-05-04 01:19] bmkor commented on #533
Hi there! Just wanna know if this feature request would have a chance to be considered?

[2022-05-05 07:38] skjardenCode commented on #27
Since beginning of April 2022, I started using RocketChat. I was very confused by quoted messages below the answer. I also vote to change this. The reading direction (flow of chat) is top to bottom, so should be the quote-answer direction.

[2022-05-05 07:38] skjardenCode commented on #688
Since beginning of April 2022, I started using RocketChat. I was very confused by quoted messages below the answer. I also vote to change this. The reading direction (flow of chat) is top to bottom, so should be the quote-answer direction.

[2022-05-05 12:39] alexmontoanelli opened #564 "[FEATURE] - Canned Responses Agent First Name"
### Description:

Currently, we just have access to 5 place holders on canned responses,

 - contact.name
 - contact.email
 - contact.phone
 - agent.name
 - agent.email

The agent.name, correspond the full name of RocketChat User.

Some companies does not like to expose the full name of they employe, for privacy concerns,
and just use the first name.

It will be helpful if you have a place holder

[2022-05-10 04:31] Toking42 opened #565 "missing adminstration view to manage memberships in private rooms / channels"
### Description:

Administration of private rooms/channels is impossible, if you are not a member of the room.

In a big Rocket.Chat environment you need the possibility to administrate members in a romm.
E.G the creator of the room is not available but another person needs moderation rights.

At the moment, there is no way (that I know) to set roles of members from "outside" the room.

### Steps

[2022-05-10 15:05] ulope commented on #718
This is becoming quite a nuisance for us.
In our instance the `userDataFiles.chunks` collection has grown to 20GB+ making backups unnecessarily slow and painful.

[2022-05-12 15:05] dougfabris commented on #326
@antkaz We proposed a slightly different solution [#25439](https://github.com/RocketChat/Rocket.Chat/pull/25439) for this, thanks a lot for bringing this up 👍

[2022-05-12 15:05] #326 closed, assigned to nobody

[2022-05-17 08:54] sandrotanner commented on #757
I get asked this by users almost every week

[2022-05-17 08:54] sandrotanner commented on #508
I get asked this by users almost every week

[2022-05-17 13:31] rohit-codaemon opened #567 "Adding Multiple images/files at a time or group attachments files to the chat or discussion."
**This feature relate one problem if any user wants to upload multiple image/files to any discussion over the chat, RC is having limitation on uploading multiple images/files and user can upload single at a time .
And also i have noticed that the RC is having problem with uploading single image in Iphone 13 and IOS 15 and above versions .**

I want a open a grid that user can select multiple image

[2022-05-17 16:21] ankar84 commented on #508
Try https://github.com/BenderskiyMA/chat-info

[2022-05-19 08:27] sandrotanner commented on #508
@ankar84 thx

[2022-05-19 21:02] tuxmartin commented on #14
@murtaza98 Hi, do you have any news? When will this app be available on Rocket.Chat's Marketplace?

[2022-05-24 09:02] ankar84 commented on #721
Great news - https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3883 introduces proper direction of quotes on mobile!
Kudos to mobile team!
Still waiting for Web client implementation...

[2022-05-24 09:02] ankar84 commented on #27
Great news - https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3883 introduces proper direction of quotes on mobile!
Kudos to mobile team!
Still waiting for Web client implementation...

[2022-05-24 09:02] ankar84 commented on #688
Great news - https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3883 introduces proper direction of quotes on mobile!
Kudos to mobile team!
Still waiting for Web client implementation...

[2022-05-25 07:05] prayingmantis1979 commented on #712
It is really annoying to save the file, to find download folder after that and to open the file manually.
It is more natural to click on the file and open it instantly.

[2022-05-27 15:06] novoid opened #726 "Feature request: highlight user mentions for users that aren't member of the channel"
### Description:

There is no UI indicator that shows that a user @-mention is causing a notification for the mentioned user or not.

This is a huge issue in business where people assume that somebody was notified/informed but Rocket.Chat did not notify at all.

### Steps to reproduce:

1. Go to any Channel where user X is not a member
2. Write a message which mentions user X via @-mentioning

###

[2022-05-30 08:16] nahid commented on #65
**Here is the code for version**  `4.7.0`

[code]

### It looks like:
![Screenshot 2022-05-30 at 2 08 50 PM](https://user-images.githubusercontent.com/3167309/170948562-c82e37a1-0469-456e-9113-9c139679b94e.png)

[2022-06-02 12:45] florian-bellencontre commented on #158
+1 for this feature

[2022-06-08 16:53] daserge commented on #349
FYI guys here's s an implementation of the pasting part: https://github.com/RocketChat/Rocket.Chat/pull/25763
I'd be grateful for a review.

[2022-06-10 12:41] b90g commented on #637
the last three comments are not helping. please check if you want to have such environment..

[2022-06-10 13:25] Meibisu commented on #637
This feature is required since 2016, and still no reply from developers...

[2022-06-10 17:33] robbyoconnor commented on #637
@Meibisu Why not implement it yourself? This is open-source, don't demand things.

[2022-06-15 13:25] tuxmartin opened #568 "wire.com integration"
It would be great to have support for https://wire.com/ <---> Rocket.Chat integration.

I like to send some money to this integration.

Something like this: https://docs.rocket.chat/guides/administration/admin-panel/integrations/microsoft-teams

[2022-06-15 20:55] akhayyat opened #569 "API-only users/roles"
**The Problem:**
To interact with Rocket.Chat programmatically through its API, a Rocket.Chat user is required. However, it seems all users can be explored through the Rocket.Chat directory or @-mention auto-completion.

**The Solution**:
Users meant exclusively for API access should not have access to chat, and should not be visible to other users. Ideally, there should be a permission that, when

[2022-06-16 16:19] docholoday commented on #689
Any movement on this? I'm trying to admin a group of middle-schoolers and shuffle users back and forth between rooms, without giving them the ability to make their own. Basic admin controls over rooms is pretty essential. We either need to be able to edit to room's users, or edit the users and add/remove them from rooms, whichever is easier.

[2022-06-16 16:36] pierreozoux commented on #689
Relates/duplicate of https://github.com/RocketChat/Rocket.Chat/issues/17172

[2022-06-17 15:30] krenuser opened #570 "Email notifications for clients on new Omnichannel responses"
**Is your feature request related to a problem? Please describe.**
Sometimes user [client] asks a question via Livechat widget on your site and then [immediately] gets out of the site. This means he won't receive your message _(and it's often just a clarification on his issue or problem, not a final answer)_ until his next visit of your site. Another option for agent is to request transcript for t

[2022-06-20 12:52] Drugoy commented on #759
More than 5 years have passed since this ticket was opened and there is still no support of collapsible blocks in rocket chat...

[2022-06-20 15:14] rajha-korithrien commented on #695
The link to the PR related to this issue is RocketChat/Rocket.Chat#23764

[2022-06-30 15:32] ata-star commented on #143
seemingly rocketchats UI is such a mess they could not change the theme in 3 years

[2022-06-30 15:39] bkraul commented on #143
@ata-star true dat. @pbaity is filling the gap nicely for now with https://github.com/pbaity/rocketchat-dark-mode . It is a bit hacky but it does the job :slightly_smiling_face:

[2022-07-04 18:56] EdSantos754 commented on #27
C'mon guys, this is something **really annoying** in the rocket.chat interface. It confuses people and gets in the way of the natural flow of conversations. It's been too many years. This should be prioritized over other less useful features, as it is a daily problem that our online communities face. Thanks.

[2022-07-04 18:56] EdSantos754 commented on #688
C'mon guys, this is something **really annoying** in the rocket.chat interface. It confuses people and gets in the way of the natural flow of conversations. It's been too many years. This should be prioritized over other less useful features, as it is a daily problem that our online communities face. Thanks.

[2022-07-04 19:26] MrVonkey commented on #27
Yes absolutely, this should be prioritized. Unfortunately I couldn't find anything concerning this in the changelog for the 5.0.0 release candidate. Maybe I missed something, since there are several issues/requests related to this?

[2022-07-04 19:26] MrVonkey commented on #688
Yes absolutely, this should be prioritized. Unfortunately I couldn't find anything concerning this in the changelog for the 5.0.0 release candidate. Maybe I missed something, since there are several issues/requests related to this?

[2022-07-06 09:46] frederic117 opened #571 "add email to the notification message trigger by iframe"
Is it possible to add the email from event trigger by the iframe (especially coming from liveChat)
Is it also possible to add a post message event to a channel through the iframe

Thanks for this amazing app :)

[2022-07-06 13:31] baby-gnu opened #572 "Start a reply thread with a simple click on a message instead of the"
**Is your feature request related to a problem? Please describe.**

Users don't always see the _Reply in Thread_ button and it looks like a usability issue since replying to a message is not UI consistent if a thread was already started or not.

**Describe the solution you'd like**

To _Reply in Thread_, just click on the message line (the part that is greyed when over).

It easier than to reach t

[2022-07-07 19:11] nick2525 commented on #648
It seems that for open source to do such a small functionality for 4 years is very sad

[2022-07-18 02:19] looeee commented on #774
What I have discovered is that if the user entered there password with a capital letter (easily done on mobile), like `User.name@gmail.com` and then oauth account has `user.name@gmail.com`, the accounts are not merged.

Worse, the user cannot change their uppercase email, and I cannot do that as admin either. There is an error message about the email being in use already because of the oauth accou

[2022-07-19 05:48] ankar84 opened #573 "Set time of life for chats"
**Is your feature request related to a problem? Please describe.**
Hundreds of stale chats consumes user space of sidebar and enlarge Rocket.Chat database with no reason.

**Describe the solution you'd like**
Nice solution for that could be a setting on creation of chat process when user choose how long that chat will remain on server:
- Never deleted
- Delete after and dropdown list with predefin

[2022-07-20 10:09] Kot-o-pes commented on #769
Hi, this will be very useful as of now users have to ask admins to add custom emojis and its quite time consuming

[2022-07-20 11:04] dimitrihof opened #725 "Feature Request: SLO"
### Description:

User should be logged out from the IDP used for Login. As well as the other way round. User shall be logged out from Rocketchat when logging out from IDP.
Currently it is possible to Log out from Session with Custom scripts after Logout. I expect a more general Solution for this.

### Steps to reproduce:

---

### Expected behavior:

Logout from Rocketchat logs out from IDP and t

[2022-07-20 13:34] 6884 commented on #803
I don't understand why it's not a thing. I get pinged a million time from a channel I don't have too much interest in, but if I mute the whole thing I might lose when my boss writes me...

[2022-07-24 01:40] #68 closed, assigned to nobody

[2022-07-26 07:17] railsmechanic commented on #718
For me this is a huge problem, too. In our instance the `userDataFiles.chunks` collection has 142GB vs. `rocketchat_uploads.chunks` collection with just 4.4GB. This make backups unnecessarily slow, painful and storage intensive.

Is it possible to do the cleanup via mongoDB shell? I don't have the courage to simply delete all entries of the collection...

[2022-07-26 07:39] doktormd5 commented on #718
Possible to use mongoDB shell:
[code]

[2022-07-27 08:08] Hydrair opened #574 "Clear notifications on mobile when seen on desktop"
**Is your feature request related to a problem? Please describe.**
When using the ios mobile app and the desktop client, notifications stay on until cleared manually or opening the app.

**Describe the solution you'd like**
When looking at new messages and the unread count on the desktop client gets cleared, remove the notifications on mobile

[2022-07-27 13:15] ElSuture commented on #803
very same for me

[2022-07-27 15:33] MrVonkey commented on #27
Since version 5.0.0 there are more possibilities to customize the layout of the message component. You can try the following custom CSS in Settings > Layout to place the username / message header above the quoted message block and everything else below the quoted message block:

[code]

[2022-07-27 15:33] MrVonkey commented on #688
Since version 5.0.0 there are more possibilities to customize the layout of the message component. You can try the following custom CSS in Settings > Layout to place the username / message header above the quoted message block and everything else below the quoted message block:

[code]

[2022-07-28 09:50] drabanus opened #575 "Cursor/focus in text field after "Create new""
Hi Rocket.Chat team,

thanks for this great tool!

I noticed that whenever I start a discussion to a new user I need to move the mouse additionally in order to put the cursor into the text field for selecting the addressee.

As a solution I would like to propose the automatic location of the cursor into the text field of the "Direct Messages" or "Discussion" widget.

I could not think of another s

[2022-08-01 22:18] fp66 commented on #197
This is an indispensable feature!

[2022-08-03 10:12] krenuser commented on #573
https://[your.rocket.chat.domain]/admin/settings/RetentionPolicy

Isn't that what you've wanted?

![image](https://user-images.githubusercontent.com/32645945/182583945-4b854eb9-fcaf-4295-9b50-1b62cde8e1be.png)

[2022-08-03 10:17] krenuser commented on #489
Probably, also related #546 (Moving messages to a thread)

[2022-08-03 13:13] ogamingSCV opened #576 "GIF Support (giphy, tenor,...)"
I don't know how to write this down in long, but I simply have an idea to implement gif paste support for Rocket.Chat, so you can easily search for a gif title and send it in chat.

For this giphy or tenor or something completely different source could be used.

[2022-08-04 04:15] ankar84 commented on #573
No. We use Retention Policy a lot. And actually because of Retention Policy we have a lot of empty (with totally cleaned messages) chats that we want to be deleted automatically.

[2022-08-08 20:59] jaroslavmraz commented on #456
1 year and nothing.

[2022-08-11 10:15] tuxmartin commented on #14
Solved: https://add-reminders.gitbook.io/docs

[2022-08-11 10:15] #14 closed

[2022-08-11 19:09] cjapples opened #577 "Turn off animated emoji and GIFs"
**Is your feature request related to a problem? Please describe.**
Currently, there is no way to disable animated gifs, aside from not displaying them at all. There's also no way to prevent users from seeing animated emoji that others have used (regardless of your personal emoji preferences). For users with conditions like photosensitive epilepsy, or migraines triggered by strobing/flashing images

[2022-08-17 11:08] Vaarlion commented on #65
hello :)
Because of [#26475](https://github.com/RocketChat/Rocket.Chat/issues/26475) the link printed in the chat is broken.
Sadly it look like simply replacing `g.co` by `google.com` or `meet.google.com` don't work, as i am landing on an `invalid video call name` error page.

What url should i go with ? `https://meet.google.com/new` don't take a name sadly

[2022-08-17 11:48] drilichili commented on #689
is there any update on this?

[2022-08-17 12:31] rasos commented on #725
Custom script for a logout flow to log out from all other keycloak sessions when pressing the RC logout button https://github.com/RocketChat/Rocket.Chat/issues/24844#issuecomment-1069106547

[2022-08-17 17:57] dotty37 commented on #201
Was this ever implemented? how do we bring images from slack exported channels into Rocket?. Links are not useful.

[2022-08-18 07:47] grthr commented on #65
https://meet.google.com/lookup/foo-bar works

[2022-08-19 01:46] mobilelifeful opened #578 "Can we provide the option for the visitor to make the call in the Omnichannel chat?"
**Is your feature request related to a problem? Please describe.**
It would be nice if we can provide the option of initiating a video call in the visitor view of the omnichannel chat(by the visitor), It seems that only the agent can initiate a video call and only the agent can end the video call for now.

**Describe the solution you'd like**
In the visitor view of the omnichannel chat, visitors c

[2022-08-19 05:32] Vaarlion commented on #65
It is working with that url thank you :)

Minor visual issue left, the icon at idle look like the hover version of it's neighbor, and get even darken when hovered.
weirdly it doesn't look like the script do anything about CSS ... but it's really minor.
![image](https://user-images.githubusercontent.com/59558433/185549767-c3af75e6-2738-4ab2-b4cc-d0083077c303.png)

[2022-08-21 02:41] paulharris commented on #143
The pbaity darkmode doesn't work with the new version 5.
Our guys won't be upgrading to version 5 until there is a dark mode :(
Light mode burns the eyes...

[2022-08-21 11:58] bkraul commented on #143
Not sure what iteration of pbaity's dark mode you are using, but his current master works perfectly with 5.0. I even now have 5.1-develop and been using it since 5.0:

![image](https://user-images.githubusercontent.com/14616851/185789765-d735ceab-790f-4a73-b87f-506e34dceaab.png)

[2022-08-22 10:08] Moosbee opened #579 "make content of Homepage language dependent (multilingual content)"
The content which can be edited under "Admin --> Settings --> Layout --> Content" is global and cannot be changed dependent on the users language. In case you want to Internationalization, Homepages with only one language become a problem.

**Describe the solution you'd like**
A possible solution would be to allow the language to be selected at the top of the "Content" tab. The text fields will th

[2022-08-24 14:25] paulharris commented on #143
Hrm I'll give it another try, thanks!

[2022-08-25 15:17] broferek commented on #642
Unfortunately, the workaround from @dradux doesn't work anymore in 5.0.4. No matter what options I checked, I can't get it to work properly.

Besides, there is a deprecation warning below the setting :
```This is a deprecated feature. It may not work as expected and will not get new updates```

This was the only way to get markdown in my messages and it was very useful  for displaying nice tables.

[2022-08-26 06:20] ankar84 opened #580 "Browse chat history with calendar tool"
**Is your feature request related to a problem? Please describe.**
If user need to scroll long time in history it is a problem. User must scroll up using mouse or PageUp button a lot and wait until all data load.

**Describe the solution you'd like**
It would be nice if user can use some calendar tool to go to particular date in history.

**Describe alternatives you've considered**
Telegram have s

[2022-08-26 10:54] krenuser commented on #579
We've solved this by "home page content":
`<iframe style="width: 100%; height: 100%; border: 1px solid #fff;" src="https://chat.domain.org/chat_home"></iframe>`
It's a separate page where we've placed multilingual home with tabs.

[2022-08-29 00:24] dw-eyecon opened #581 "Allow for optional Embedded/Rendered HTML in Chat"
**Description:**
Recently a "fix" was pushed to sanitise all HTML in chat. Unfortunately some of my company utilise this "feature" of RocketChat quite regularly to display company metrics in a internal public channel. The fix to just sanitise any and all html has broken this.

**Feature:**
Make the sanitisation of HTML an optional toggle. Default to sanitise of course.

**Alternatives:**
My compan

[2022-08-30 12:31] dacrome opened #582 "Easy hyperlink creation"
**Is your feature request related to a problem? Please describe.**
As a Rocket.Chat user, I want to easily add a hyperlink to my text message.

**Describe the solution you'd like**
Like on [GitHub](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#links)
- When the user uses cmd+k / ctrl+k in the messa

[2022-09-06 10:36] DatAmstrongest commented on #700
Is this issue still open? If so, I'd like to work on this.

[2022-09-06 10:48] Kunalvrm555 commented on #700
Hi @DatAmstrongest, you're most welcome to work on this issue but kindly go through the PR referenced above to get an idea.

[2022-09-07 01:45] ankar84 opened #583 "Notifications on reaction"
**Is your feature request related to a problem? Please describe.**
It would be great if user was informed when someone reacted to his message in chat.
But very important is that notification should be optional and disabled by default, and first of all it involved big channels.

**Describe the solution you'd like**
User get notification when other user reacted to ones message.

**Describe alternati

[2022-09-07 01:49] ankar84 commented on #305
That feature introduced to regular read-only channels
![image](https://user-images.githubusercontent.com/4023037/188770815-9f4bd9fd-2256-4547-81aa-cb3758a1811a.png)

[2022-09-07 01:49] #305 closed, assigned to nobody

[2022-09-07 03:30] ankar84 commented on #582
Nice to have that feature in Rocket.Chat!

[2022-09-07 03:33] ankar84 commented on #581
Agree with only optional toggle.

[2022-09-07 03:35] ankar84 commented on #579
Nice idea!

[2022-09-07 03:38] ankar84 commented on #576
There is already **giphy** and **tenor** apps for Rocket.Chat that do that job.

[2022-09-07 09:06] ogamingSCV commented on #576
Oh true I am so sorry. Totally forgot about the Apps :/

[2022-09-07 09:06] #576 closed, assigned to nobody

[2022-09-07 10:40] krenuser opened #584 "Global control of "Use legacy message template" option"
**Is your feature request related to a problem? Please describe.**
Now RC has two ways of controlling new message template usage:
1. each user can do it himself via `My Account > Preferences`
2.  admin can adjust this option in "Default User Preferences" tab in Admin panel.

First way require all users to turn off legacy message template. Which is not a good solution as not all users are online in

[2022-09-07 22:59] subspecs commented on #637
Well we're sorry that we asked such a basic necessity of the poor poor developers.

[2022-09-12 11:37] Meibisu commented on #637
Because i use their enterprise license. And dont want to implement things and change them with every update. That's developers task and very important improvement which available in many others messendgers.

[2022-09-12 16:07] md-20 commented on #413
Hi,
I would like to underline this feature request!
A general message search is also missing on mobile completely. That would be great.
Thank you very much

[2022-09-12 22:06] MHFDoge opened #585 "Ability to disable the "quote" function"
**Is your feature request related to a problem? Please describe.**
Yes, it is, I've run into multiple issues with quoted messages causing confusion for users, and as an attempted remedy, I have tried to disable the usage of this feature, to no avail.

**Describe the solution you'd like**
An option to be present in the admin dashboard to disable the quote feature, with similar function to how the r

[2022-09-15 16:10] ramiror opened #586 "Confirm "mark all read" with ENTER"
In previous releases, you could hit  `Shift-Esc` and then hit `Enter` to mark all as read. When using Rocket.Chat in the browser.

In current releases you have to go and confirm with the mouse.

Please allow keyboard confirmation again. It might be just a matter of focus on the dialog.

[2022-09-19 12:02] nmagedman opened #724 "Feature Request: Show Preferences when Accounts_AllowUserProfileChange is false"
### Description:

PR RocketChat/Rocket.Chat#25632 (commit 813883181) shows the NotAuthorizedPage if Accounts_AllowUserProfileChange is false.  This leads to an awkward user experience, as the user thinks he does not have access to any of his preferences:

<img width="671" alt="Screen Shot 2022-09-19 at 14 30 27" src="https://user-images.githubusercontent.com/1042298/191007884-2be13fa1-098d-49db-84

[2022-09-19 12:41] dudanogueira commented on #724
Hi! Thanks for the suggestion!

[2022-09-20 09:15] xgdgsc opened #587 "Support time boxes for notification of each channel"
**Is your feature request related to a problem? Please describe.**

For some channels like bot message channels/ low-priority co-workder channel. I would only need the notification/change of tray icon during specific day time like 5-6pm or during 55-60min in every hour. Current it' s rather all muted or all notified.

**Describe the solution you'd like**
 During time not in the notification box ti

[2022-09-20 11:59] josep112 opened #588 "Add photo to room omnichannel channel by rest api"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
            Add photo to room omnichannel channel by rest api

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
It would be very good if in the omnichannel channel there was the possibility of

[2022-09-21 07:03] rksingh2001 commented on #724
Can I take up this issue @dudanogueira @nmagedman ?

[2022-09-22 12:40] vinogradovia commented on #650
any news here?

[2022-09-23 13:04] ankar84 opened #589 "Ability to set Local Time time zone"
**Is your feature request related to a problem? Please describe.**
Now we have a Local Time that shows user local time and his Time Zone.
![image](https://user-images.githubusercontent.com/4023037/191966468-09eb066e-1e90-4906-b153-ae0f5ec7d428.png)
Sometimes that **value is wrong**. For example, we have a big company that located across all our country. But all computers are set Moscow time as tim

[2022-09-24 04:10] GentleRV opened #590 "Pin a channel message create a mess in the view window."
My request is as follow:

When creating a message in a channel and want to protect it to automatic delete, I need to PIN it.
This PIN procedure produce the same message under the original and create a mess in the view window.
If you edit the original message and PIN this again a second PIN message is created.

My Request for change is:
Make possible to PIN the orginal message without creating extr

[2022-09-26 08:12] garylavayou opened #591 "Download and install free apps from marketplace on an offline deployment of RocketChat server"
**Is your feature request related to a problem? Please describe.**
I am deploying a Rocket.Chat server in an offline environment, so the server cannot connect to the marketplace server on the internet. As a result, I cannot install any apps in the marketplace.

**Describe the solution you'd like**
For free apps, the marketplace can provide a download links for each/recent releases of apps, so that

[2022-09-26 08:26] marcusxss commented on #560
Any updates on either adopting this extension or the new frontend? Thanks!

[2022-09-27 09:43] sandrotanner commented on #689
It is so annoying that they always tag issues as "triaged" but they never do this publicly but instead probably in some external tool so we are left guessing when (if at all) the issue will be tackled. Not really the nice FLOSS way of doing things if you ask me...
If it is out of scope just say it and move on so we know what to expect.
(end of rant :smile: )

[2022-09-28 01:24] Julianoe commented on #780
Just wanted to refresh this topic. I have been hosting a server since 2017 with 3 to 10 users regularly interacting and sharing a lot of links and this would really be a life improvement.

The `<https://example.com>` would be a really good way of allowing us to not trash a channel with dozens of embeds when we don't want to. This could be added in the little toolbar of shortcuts under the message

[2022-09-28 01:31] Julianoe commented on #780
The proposed hacks are not satisfying solutions :
- adding a comma by @xmedeko : does not work for a lot of urls
- or removing `https://` by @geekq : you can't use this trick with markdown links because markdown renderer needs https:// or http:// to know it's a link and output it like one.

[2022-09-29 17:55] paulchen opened #807 "Custom emojis all have the same fixed size"
### Description:

All custom emojis have a fixed width of 2.75rem and a fixed height of 2.75rem which is set via CSS.

### Steps to reproduce:

1. Add a custom emoji which has a different size than 2.75rem x 2.75rem.
2. Write a message containing this emoji.

### Expected behavior:

The custom emoji is not resized:

![image](https://user-images.githubusercontent.com/404840/193106496-75c6fe3e-0458-

[2022-09-29 20:05] dudanogueira commented on #807
Hi @paulchen!  Thanks for your input.

I have tested this in 5.2.0-rc1 and it was not resized to 2.75rem x 2.75rem. Can you confirm this?

Renaming the name or alias required to upload an image again, and after uploading, it was indeed broken.  So it was needed to remove the emoji and add it again.

This is indeed a nice suggestion.

[2022-09-29 20:23] paulchen commented on #807
Hi @dudanogueira! Thanks for for reply.

I just fired up version `5.2.0-rc.1` from Docker Hub. I experienced the same behaviour as described above.

I uploaded this GIF as a custom emoji named "mb2": https://chat-dev.rueckgr.at/emoji-custom/mb2.gif

It is still resized to 2.75rem x 2.75rem. In the DevTools I can clearly see why this happens:

![image](https://user-images.githubusercontent.com/4048

[2022-09-30 13:36] dudanogueira commented on #807
Oh, I am sorry. You are right! It's still an issue.

[2022-10-01 05:38] BluePrintRandom opened #592 "would love to be able to click on a 'notification number' and have it open 'all mentions'"
would love to be able to click on a 'notification number' and have it open 'all mentions'

right now it's not easy to find who / when they mentioned you.

[2022-10-01 11:43] rksingh2001 commented on #724
@debdutdeb Can you add the hacktoberfest label on this issue?

[2022-10-01 14:22] debdutdeb commented on #724
We'll start with the labels next week.

IIUC, this request needs to be assessed by product first.

[2022-10-03 12:47] dudanogueira commented on #592
Hi! Thanks for your suggestion.
I will move it to the appropriate repo.

[2022-10-03 14:23] knokio commented on #780
Can you check my PR and demo and see if this a desired behaviour? @Julianoe  @timoaudi
If so, I can finish the PR, improve the details and submit it

PR: https://github.com/RocketChat/Rocket.Chat/pull/21065
Demo: https://streamable.com/p0cxfj

[2022-10-07 13:28] crysis-ps commented on #429
Would be very useful

[2022-10-07 13:45] Julianoe commented on #780
For me that's one good UX take on that issue 👍

[2022-10-07 18:22] cleric28 commented on #778
I am also currently looking for a way to do this. Is this doable through RocketChat's REST API?

[2022-10-07 19:40] nmella commented on #741
Any update ?

[2022-10-08 17:07] ChrisJBurns commented on #778
The best I've got is specifying the below in my Flux release for RocketChat

[code]

[2022-10-12 20:53] ShaunR opened #593 "Redirect user to offline form when no agent takes chat within X amount of time"
I would like to be able to redirect a livechat to a offline form when no agent accepts a chat within a set period of time. I feel like this should go under the routing section.

**Example scenario**
Client goes onto website and initiates a livechat and is waiting for an agent to pickup.  After X seconds waiting in the queue a message is sent to the client saying "All agents are currently busy, ple

[2022-10-14 08:25] dimitrihof commented on #725
Up

[2022-10-14 14:24] #431 closed, assigned to nobody

[2022-10-18 10:36] dirksan28 commented on #640
After reading this thread - I guess there is still no such feature implemented right now... right?

[2022-10-19 17:01] engelgabriel commented on #688
@ggazzo can we do that with the new message parser?

[2022-10-19 18:29] ggazzo commented on #688
it's not a message parser issue, it's a design definition, which can be changed if it makes sense

[2022-10-20 10:57] ankar84 commented on #688
@engelgabriel @ggazzo it definitely make sense!! All that issue with many comments and reactions a good illustration of fact, community need that important improvement a lot!

[2022-10-23 06:46] ankar84 opened #594 "Sort improvement. Option to prioritize DM in unread chats"
**Is your feature request related to a problem? Please describe.**
Users with high chat activity usually have a lot of unread chats.
Rocket.Chat have option to group all unread chats and show them on very top in sidebar - this is great. But this is not enough for many users - for then there is a mess in unread chats (DM, private groups, channels, teams). But users wans that mess be managed and org

[2022-10-26 13:32] journeym commented on #650
Not working anymore

[2022-10-31 18:12] dusatvoj opened #789 "Hide / Mark disabled users in DM list"
Hello,
I have something around 2 screens of DMs in a list of DMs but there are around 1/3 or 1/2 of people which is disabled now _(probably permanently, bcs they left our company)_.

Is there any option to hide or mark these DMs with disabled accounts somehow? If not, this issue could be marked as feature request :grinning:

[2022-11-05 12:03] burkass commented on #606
Actually it's good idea for other scenario. Example: when new chat comming when all user offline it means, chat will be gone so my system is make it pending and store in redis. When user login, it will better there is feature to trigger custom api that our system can create new chat based on the pending message.

[2022-11-07 20:25] dudanogueira commented on #789
Hi!

In fact, I don't see a way for doing this using the UI alone.

You can probably do it using API's.. but would need to interact with each of the subscription in order to check user status.

@hugocostadev a nice place to add this feature is the ctrl+esc action:

![image](https://user-images.githubusercontent.com/1761174/200407916-d34105c7-e18e-4257-a981-1521cc63c84e.png)

[2022-11-10 07:41] talss89 commented on #689
@dougfabris Would it be possible to have some info on when this will be implemented, or even if it will? It does seem like pretty important functionality for a lot of people, us included.

Just trying to figure out if it's worth building a standalone tool to do this via the API.

[2022-11-19 09:24] maxwell-kalin opened #595 "Darkmode, at least as Server side setting"
**Is your feature request related to a problem? Please describe.**
Headache and Rage due to lack of Darkmode

**Describe the solution you'd like**
Add a Darkmode finally

**Describe alternatives you've considered**
the hack by one random person that does your job is not always working

**Additional context**
Jesus Please

[2022-11-24 21:00] vinogradovia commented on #726
Any updates on this? Mentions in thread also invisible for users

[2022-11-25 17:32] ulope commented on #642
It's really incomprehensible to me how such a core functionality can be left languishing for 5 years (!!!) while ever more useless new "features" with more bugs are piled ontop.

[2022-11-28 08:35] limpep commented on #530
+1

[2022-11-28 08:36] limpep commented on #595
+1